<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= typeof description != 'undefined' ? description : 'Onesmus Auto Shop - Your premier dealership for luxury and classic cars.' %>">
  <meta name="author" content="Onesmus">
  <title><%= typeof title != 'undefined' ? title : 'Onesmus Auto Shop' %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
</head>
