<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Custom Order</a></li>
    <li><a href="#">Inventory</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
